* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: content-box;
}

:root
{
	--bg: #021322;
	--box: #220213;
	--highlight: #FFD700;
	--emp: #800020;
	--text: #ffffff;
	--width: 1600px;
	--height: 900px;

}

body
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#wall
{
	width: 100%;
	height: calc(var(--height) / 3);
	background: var(--box);
}

#floor
{
	width: 100%;
	height: 100%;
	background: var(--bg);
}


#table
{
	background: var(--highlight);
	width: var(--width);
	height: var(--height);
	top: calc(var(--height) / 3);
	left: 50%;
	transform: translate(-50%, calc(var(--height) / 3 * -1));
	position: absolute;
	z-index: 1;
	clip-path: polygon(
		10% 20%,
		90% 20%,
		105% 100%,
		-5% 100%
	)
}


#book
{
	background: var(--bg);
	top: calc(var(--height) / 3);
	left: 50%;
	transform: translate(-50%, calc(var(--height) / 3 * -1));
	width: calc(var(--height)/2);
	height: calc(var(--width)/3);
	position: absolute;
	z-index: 2;
	clip-path: polygon(
		35% 30%,
		65% 30%,
		70% 95%,
		30% 95%
	)
}

#book:hover
{
	cursor: grab;
}

#book:hover.grabbing
{
	cursor: grabbing; /* 수정 */
}


#open_book
{
	width: calc(var(--width) * 3 / 4);
	height: calc(var(--height) / 3 * 2.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 3;
	display: none;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column; /* 추가 */
}

#open_book.active
{
	display: grid;
}


/* 3줄이 들어갈 8칸으로 쪼개고 그걸 1개 타이틀 + 여러 선택지 */
.page
/* 가로 길이가 600px이니 좌우 각각 50px  여백 5등분*/
{
	display: grid; /* 추가 */
  	grid-template-rows: repeat(8, 1fr); /* 수정 */
	background: var(--box);
	width: 100%;
	height: 100%;
	opacity: 100%;
	background: #ffffff;
}

.page.left
{
	border-right: 2px solid #000000; /* 추가 */
}
.page.right
{
	border-left: 2px solid #000000; /* 추가 */
}



.page_split
{
	display: grid; /* 추가 */
	border: 2px solid #ff0000;
  	grid-template-rows: repeat(2, 1fr); /* 수정 */
	padding: 15px;
}

.page_split_split
{
	display: grid;
	border: 1px solid #FFD700;
}

.page_split_split:nth-child(even)
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
}

.page_split_split:nth-child(odd)
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
}


.btn
{
	border: 1px solid #ff0000;
	cursor: pointer;
	height: 90%;
	width: 90%;
}


.btn:hover
{
	border: 5px solid #0000ff;
}

.btn.on
{
	border: 3px solid #00ffff;
}


.input
{
	
	border: 1px solid #ff00ff;
}